/*  your css code here. If applicable */
h1,h2{text-align:center;}
li{
	list-style-type:none
}
body{
	background-color: rgb(204, 204, 204)
}
.player_one{
	background-color: rgb(255, 255, 255); padding:10px ; border-radius:10px; display:block;margin-left:auto;margin-right:auto;width:90% 
}
.player_two{
	background-color: rgb(255, 255, 255); padding:10px ; border-radius:10px; display:block;margin-left:auto;margin-right:auto;width:90% 
}
a{
		text-decoration-line: none;
}
